@import helper._
@import org.webjars.play.WebJarsUtil
@import com.typesafe.config.Config
@import helpers.CallHelper.relative
@import helpers.JsonHelper.stringify
@this(webJarsUtil: WebJarsUtil)(implicit configuration: Config, request: Http.Request)


<!DOCTYPE html>

<html lang="en">
  <head>

    <title>HMPPS - Alpha feature switch</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />

    <link rel="stylesheet" media="screen" href='@relative(request, routes.Assets.versioned("stylesheets/main.css"))' />
    <link rel="shortcut icon" type="image/x-icon" href='@relative(request, routes.Assets.versioned("images/favicon.ico"))' />

    @googleAnalyticsHead()

  </head>
  <body>
    <div id="content"></div>

    <script type='text/javascript' src='@relative(request, webJarsUtil.locate("underscorejs", "underscore.js").path.get)'></script>
    <script type='text/javascript' src='@relative(request, routes.Assets.versioned("bundle.js"))'></script>

  </body>
  </html>
